@font-face{
	font-family: code;
	src: url(SourceCodePro-Medium.ttf);
}

@font-face{
	font-family: computer;
	src: url('Neo-Writer.ttf');
}

body{
	background-color: #808080;
	background-image: url('tenor.gif');
	font-family: code;
}

h1 {
	font-family: computer;
	text-align: center;
	width: 100%;
}

.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #404040; 
	color: white;
	text-align: center;
}

.grid-container{
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: space-around;
	align-content: space-around;
	grid-gap: 10px;
	padding: 10px;
}

a:link{
	color: white;
}
a:visited{
	color: white;
}

.header {
  position: fixed;
  text-align: center;
  background: #404040;
  color: white;
  font-size: 30px;
  width: 100%;
}

.navbar {
	background-color: #595959;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	margin-bottom: 50px;
	justify-content: space-between;
}

.navbar a {
	float: left;
	display: flex;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 15px;
	justify-content: space-between;
	padding: 0.25rem 0.5rem;
}

.navbar a:hover {
	background-color: #999966;
	color: white;
}

.navbar a.active {
	background-color: #5c5c3d;
	color: white;
}